<app-nav></app-nav>
<div class="product-details-container">
    <div class="product-image">
      <img [src]="product?.image" alt="image" width="500" height="600" />
    </div>
  
    <div class="product-info">
      <h1 class="product-name">{{ product?.productName }}</h1>
      <p class="product-price">
       {{product?.price}} $
      </p>
      <p class="product-description">{{ product?.productDescription }} Architecto, dignissimos doloremque. Atque, pariatur nostrum. Iure excepturi voluptatibus, ratione velit porro illum repellendus harum quaerat eum aliquid! Id temporibus nisi sint.</p>
  
    
      <div class="size-options">
        <div class="size-buttons">
          <button
            *ngFor="let size of product?.size"
            [ngClass]="{ 'selected': selectedSize === size }"
            (click)="selectedSize = size"
            class="size-button"
          >
            {{ size }}
          </button>
        </div>
      </div>
      
      <div class="qandaddd">
        <div class="quantity-container">
          <button (click)="minus()" class="quantity-btn">-</button>
          <p class="quantity-display">{{ quantity }}</p>
          <button (click)="plus()" class="quantity-btn">+</button>
        </div>
  
        <button class="addtoorder" (click)="addtoorder()">Add To Order</button>
       
      </div>
      <!--End of quantityandadd-->
     

     
    </div>
  </div>
  <h3>Related Product</h3>
  <app-fproduct></app-fproduct>
  <app-footer></app-footer>
  