.products {
    display: flex;
    margin-left: 10px;
    flex-wrap: wrap; /* Allow wrapping to ensure products move to the next row after 4 items */
    gap: 1px; /* Add space between products */
    justify-content: flex-start; /* Align products to the start */
}

.product {
    flex: 0 1 calc(25% - 10px); /* Four items per row, accounting for the gap */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the total width */
}
.product h5{
    margin-left: 10px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 10px;
}
.product p{
    color: gray;
    font-weight: bold;
    margin-left: 10px;
    
}

button {
    border: 1px solid gray;
    background-color: white;
    color: gray;
    
}
.size-buttons{
margin-left: 20px;
}

.size {
    display: flex;
    flex-direction: row;
    gap: 5px; 
    margin-left: 10px;
}
.phome{
    margin-top: 30px;
    margin-left: 10px;
}
h3{
    margin-left: 10px;
}
.image-container {
    position: relative;
    display: inline-block;
  }
  
  .astra-icon {
    position: absolute;
    top: 15px; /* Move the icon closer to the top of the image */
    right: 15px;
    width: 1px; /* Adjust size */
    height: 1px;
   /* Set background to white for contrast */
   
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for a lifted effect */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    padding: 8px 10px;
   
    transition: opacity 0.3s ease;
  }
  
  .image-container:hover .astra-icon {
    opacity: 1; /* Show icon on hover */
  }
  svg{
    width: 20px;
  
  }
  
 
  