<p class="phome">Home/Shop</p>
<h3>Shop</h3>
<div class="products">
<div *ngFor="let product of products" class="product">

    
<img [routerLink]="['productdetails',product.productId]" [src]="product.image" alt="image" width="350" height="420">

<h5>{{product.productName}}</h5>
<p>{{product.price}}$</p>
<div class="size-options">
    <div class="size-buttons">
      <button
        *ngFor="let size of product?.size"
        [ngClass]="{ 'selected': selectedSize === size }"
        (click)="selectedSize = size"
        class="size-button"
      >
        {{ size }}
      </button>
    </div>
  </div>
<!-- <button (click)="selectandadd(product)">Add To Cart</button> -->

</div>
</div>