<footer>
    <div class="footer-content">
      <h2>Subscribe To Get Offers In Your Inbox</h2>
      <p>Lorem ipsum dolor sit amet, adipiscing elit sed do eiusmod condimentum</p>
      <nav>
        <a href="#">Buy T-Shirts</a>
        <a href="#">Women</a>
        <a href="#">Men</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </nav>
      <div class="social-icons">
        <a href="#"><img src="../../../assets/Image/FacebookLogo.png" alt="Facebook"></a>
        <a href="#"><img src="../../../assets/Image/xicon.png" alt="Twitter"></a>
        <a href="#"><img src="../../../assets/Image/InstagramLogo.png" alt="Instagram"></a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>Copyright © 2024 T-Shirts Store | Powered by T-Shirts Store</p>
    </div>
  </footer>
