<app-nav></app-nav>
<section class="banner">
    <div class="text-content">
      <p>Women</p>
      <h1>Slick. Modern. Awesome.</h1>
      <a href="#" class="button">Shop Collection</a>
    </div>
    <div class="image-content">
      <img src="../../../assets/Image/home.png" alt="Woman in Pink T-Shirt">
    </div>
  </section>
  <div class="productName">
    <p>Summer Collection</p>
    <h2>Popular T-Shirts</h2>
</div>
<app-fproduct></app-fproduct>
<div class="collection">
  <div class="image-text">
      <div class="image">
          <img src="../../../assets/Image/collection-02.jpg" alt="Product Image 1">
      </div>
      <div class="text-collection">
          <p>Men</p>
          <h1>The base collection - Ideal every day.</h1>
          <button routerLink="/products">Shop Now</button>
      </div>
  </div>
  
  <div class="image-text">
      <div class="image2">
          <img src="../../../assets/Image/collection-02.jpg" alt="Product Image 2">
      </div>
   
  </div>
</div>
  <div class="container">
    <div class="image-section">
      <div class="pink-background"></div> <!-- Pink background div -->
      <img src="../../../assets/Image/spring.jpg" alt="Fashion Model">
    </div>
    <div class="text-section">
      <p class="category">Women</p>
      <h1>Spring Summer Collection</h1>
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id leo tempor, congue justo at, lobortis orci. Aliquam venenatis dui lectus, eu convallis turpis convallis et. Pellentesque.
      </p>
      <button class="cta-button" routerLink="/products">See Whole Collection</button>
    </div>
  </div>
  <div class="productName">
    <p>Summer Collection</p>
    <h2>Popular T-Shirts</h2>
</div>
<app-lproduct></app-lproduct>
<div class="review-section">
    <h2>Reviews</h2>
    <p class="review-text">
      “ <strong>Very good quality T-shirts and lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua quis ipsum!</strong> ”
    </p>
    <div class="reviewer">
      <div class="stars">
        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
      </div>
      <p class="reviewer-name">Jane Oliver</p>
    </div>
  </div>
  

<app-footer></app-footer>
