<div class="login-container">
  <div class="welcome-section">
    <img src="../../../assets/Image/Online shopping.gif" alt="Characters" class="welcome-image" />
  </div>
  <div class="login-form">
    <h2>Welcome back!</h2>
    <p>Please enter your details</p>
    <form (submit)="login()">
      <input
        type="text"
        [(ngModel)]="accountDto.email"
        name="email"
        placeholder="Username"
        required
      />
      <input
        type="password"
        [(ngModel)]="accountDto.password"
        name="password"
        placeholder="Password"
        required
      />
      <label class="remember-me">
        <input type="checkbox" /> Remember for 30 days
      </label>
      <button type="submit" class="login-button">Log In</button>
    
    </form>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p class="signup-prompt">
      Don’t have an account? <a routerLink="/signup">Sign Up</a>
    </p>
  </div>
</div>

  
