<ul class="nav-bar">
  <li><a routerLink="/Home">Home</a></li>
  <li><a routerLink="/products">BUY-T-SHIRTS</a></li>

  <li *ngIf="authService.isLoggedIn() && authService.getRole() === 'Customer'">
    <a routerLink="/shoppingcart">Shopping Cart</a>
  </li>
  
  <li *ngIf="authService.isLoggedIn() && authService.getRole() === 'Seller'">
    <a routerLink="/allproductseller">My Products</a>
    <a routerLink="/allordertoseller/:id">My Orders</a>
  </li>

  <li *ngIf="authService.isLoggedIn() && authService.getRole() === 'Admin'">
    <a routerLink="/allseller">All Sellers</a>
    <a routerLink="/allproductwithsellername">All Products with Seller Names</a>
  </li>

  <li class="logo">
    <img src="../../../assets/Image/logo.png" width="120" height="70" alt="logo">
  </li>

  <li *ngIf="authService.isLoggedIn()" class="basket-container">
    <span class="basket-icon">
      <svg routerLink="/shoppingcart" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="ast-basket-icon-svg" width="40" height="40" viewBox="826 826 140 140">
        <path d="M3.747,0.619-5.272,1.857C861.152,852.409,860.146,854,859.66,855.946z"/>
      </svg>
      <span class="count-badge">{{ orderCount }}</span>
    </span>
  </li>
</ul>
