/* Adjust spacing and alignment for navbar links */
.navbar-nav .nav-link {
  color: #333;
  font-weight: 500;
  padding: 10px 15px;
  text-transform: uppercase;
}

/* Change link color on hover */
.navbar-nav .nav-link:hover {
  color: #f6bce7;
}

/* Logo alignment */
.navbar-brand img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Badge (for the shopping cart icon) */
.badge {
  font-size: 0.8rem;
  position: relative;
  top: -10px;
  right: 3px;
}

/* Dropdown menus */
.dropdown-menu {
  background-color: white;
  border: none;
  margin-left: -100px;
}
.dropdown-item:hover {
  background-color: #f6bce7;
  color: white;
}
.basket-container {
  position: relative;
  display: flex;
  align-items: center;
}

.basket-icon {
  width: 10px;
  height: 20px;
}
path{
  width: 20px;
  height:20px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }
}
