/* Use Flexbox for the header row */
.header-row {
    display: flex;
    justify-content: space-between; /* Spread the content to left and right */
    align-items: center; /* Align vertically in the center */
}

/* Custom table styles */
.custom-table {
    margin-top: 20px;
    border-collapse: collapse;
}

.custom-table th, .custom-table td {
    padding: 15px;
    text-align: left;
}

.status {
    font-weight: bold;
}

.out-of-stock {
    color: red;
}

.cant-delete {
    color: gray;
    font-style: italic;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-striped tbody tr:hover {
    background-color: #e1eaf3;
    cursor: pointer;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
}


.search-container {
    flex: 1;
    max-width: 300px;
    display: flex;
    justify-content: flex-end;
    margin-left: 400px !important;
  }
  
  .stock-filter {
    margin-left: 20px;
    display: inline-block;
    max-width: 200px;
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
   border: none;
    outline: none;
   
  }
  
  .search-container i {
    margin-left: -5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    outline: none;
  }
h4{
    margin-top: 50px;
    color: rgb(52, 52, 52);
}