<app-nav></app-nav>
<div class="cart-container">
  <h2>All Orders</h2>
  <div class="cart-content">
    <table class="order-table">
      <thead>
        <tr>
          <th>Order Date</th>
          <th>Status</th>
          <th>Product ID</th>
          <th>Size</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let order of orders">
          <ng-container *ngFor="let od of order.orderDetails; let i = index">
            <tr>
             
              <td *ngIf="i === 0" >{{ order.order_date | date: 'MMMM d, y' }}</td>
              <td>{{order.status | orderStatus }}</td>
              <td>{{ od.productId }}</td>
              <td>{{ od.size }}</td>
              <td>{{ od.quantity }}</td>
              <td>${{ od.orderPrice }}</td>
              <td>${{ od.orderPrice * od.quantity }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>
