<div class="cart-container">
    <h2>All Orders</h2>
    <div class="cart-content">
      <ng-container *ngFor="let order of orders">
        <div class="order-card">
          <p class="order-date">{{ order.order_date | date: 'MMMM d, y' }}</p>
          <ng-container *ngFor="let od of order.orderDetails">
            <div class="cart-item">
              <div class="product-info">
                <p class="product-name">Product ID: {{ od.productId }}</p>
                <p class="product-size">Size: {{ od.size }}</p>
                <p class="product-quantity">Quantity: {{ od.quantity }}</p>
              </div>
              <div class="price-info">
                <p class="product-price">Price: ${{ od.orderPrice }}</p>
                <p class="product-subtotal">Subtotal: ${{ od.orderPrice * od.quantity }}</p>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
  