<app-nav></app-nav>
<div class="button-container">
    <h4>All Products</h4>
    
    <div class="search-filter-container">
      <div class="search-container">
        <input 
          type="text" 
          placeholder="Search by Seller Name" 
          [(ngModel)]="searchQuery" 
          (ngModelChange)="onSearchChange()" 
          class="search-input" 
        />
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
  
      <!-- Stock Status Filter -->
      <div class="stock-filter">
        <select [(ngModel)]="stockFilter" (change)="onSearchChange()" name="stockFilter" title="stockFilter">
          <option value="">All Stock Status</option>
          <option value="in-stock">In Stock</option>
          <option value="out-of-stock">Out of Stock</option>
        </select>
      </div>
    </div>
  
    <button class="add-product-button" [routerLink]="['addproduct']">Add Product</button>
  </div>
  

<table class="product-table">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Status</th>
            <th>Price</th>
            <th>Remove Product</th>
            <th>Edit Product</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of filteredProducts">
            <td><img [src]="product.image" alt="Product Image" width="60" height="60"></td>
            <td>{{ product.productName }}</td>
            <td *ngIf="product.stack_qty > 0" class="status">In Stock ({{ product.stack_qty }})</td>
            <td *ngIf="product.stack_qty <= 0" class="status out-of-stock">Out of Stock</td>
            <td>{{ product.price }}$</td>
            <td>
                <button *ngIf="product.stack_qty <= 0" (click)="deleteproduct(product.productId)" class="delete-btn">Delete</button>
                <span *ngIf="product.stack_qty > 0" class="cant-delete">Can't Delete</span>
            </td>
            <td>
                <button [routerLink]="['editproduct', product.productId]" class="edit-btn">Edit</button>
            </td>
        </tr>
    </tbody>
</table>
